<div class="project-content__info__inner ">
    <div class="project-detail">
      <div class="project-detail__list">
        <div class="project-detail__item item-grid-5 item-grid-5--start">
          <div class="project-detail__label text-right">行程</div>
          <div class="project-detail__value text-left">阿勒泰</div>
        </div>
        <div class="project-detail__item item-grid-5 item-grid-5--start">
          <div class="project-detail__label text-right">Name</div>
          <div class="project-detail__value text-left">Altay</div>
        </div>
        <div class="project-detail__item item-grid-5 item-grid-5--start">
          <div class="project-detail__label text-right">地理位置</div>
          <div class="project-detail__value text-left">阿勒泰地区西部</div>
        </div>
        <div class="project-detail__item item-grid-5 item-grid-5--start">
          <div class="project-detail__label text-right">记录时间</div>
          <div class="project-detail__value text-left">2023.11</div>
        </div>
        <div class="project-detail__item item-grid-5 item-grid-5--start">
          <div class="project-detail__label text-right">印象</div>
          <div class="project-detail__value text-left">冰天雪地、静谧、孤寂</div>
        </div>
        <div class="project-detail__item item-grid-5 item-grid-5--start">
          <div class="project-detail__label text-right">体验推荐</div>
          <div class="project-detail__value text-left">禾木、喀纳斯、可可托海</div>
        </div>
        <div class="project-detail__item item-grid-5 item-grid-5--start">
          <div class="project-detail__label text-right">路线参考</div>
          <div class="project-detail__value text-left">乌鲁木齐 → 布尔津 → 喀纳斯 → 禾木 → 克拉玛依 → 博乐 → 霍城 → 新源 → 巴音郭楞 → 独库公路
          </div>
        </div>
      </div>
    </div>
  </div>